<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <h1>Mission Information</h1>
    <p>Name: <%= mission.name %> </p>
    <p>launchDate: <%=mission.launchDate  %> </p>
    <p>Operator: <%= mission.operator %> </p>
    <p>Mission Type: <%= mission.missionType %> </p>
    <img src=<%= mission.img %> alt="">
    <br>
    <a href="/index">Back to Index</a>
</body>

</html>