<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        body {
            background-color: blanchedalmond;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 80%;

        }

        img {
            height: 200px;
            width: 200px;
        }

        .product-header {
            text-align: center;
            margin: 30px 0 20px 0;
            text-transform: uppercase;
        }

        .card {
            margin-bottom: 20px;
            text-align: center;
        }

        form {
            margin-top: 8px
        }
    </style>
</head>

<body>
    <div class="nav-container">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <button class="btn btn-outline-primary" onclick="location.href='/products/new'" type="button">Create New
                    Product</button>
                <button onclick="location.href='/products/seed'" class="btn btn-outline-primary" type="button">Create
                    Seed</button>
            </form>
        </nav>
    </div>

    <h1 class="product-header">Products</h1>

    <div class="product-container">
        <% for(let i =0; i<product.length; i++){ %>
        <div class="card" style="width: 18rem;">
            <img src=<%= product[i].img %> class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= product[i].name %></h5>
                <p class="card-text"><%= product[i].description %></p>
                <a href="/products/<%= product[i].name %>" class="btn btn-primary">Go To Product</a>
                <form action="/products/<%= product[i]._id %>?_method=DELETE" method="post">
                    <input class="btn btn-primary" value="Delete Product" type="submit">
                </form>
                <form action="/products/<%= product[i]._id %>/edit" method="get">
                    <input class="btn btn-primary" value="Edit Product" type="submit">
                </form>
            </div>
        </div>
        <% } %>
    </div>
</body>

</html>